<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.winboll.studio">

    <!-- 此应用可显示在其他应用上方 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!-- 对正在运行的应用重新排序 -->
    <uses-permission android:name="android.permission.REORDER_TASKS"/>

    <!-- 调用后台任务窗口到前台 -->
    <uses-permission android:name="android.permission.MOVE_TASK_TO_FRONT"/>

    <application>

        <activity
            android:name=".shared.app.CrashHandler$CrashActiviy"
            android:label="CrashActiviy"
            android:icon="@drawable/ic_launcher"
            android:launchMode="standard"/>

        <activity
            android:name=".shared.log.LogActivity"
            android:label="LogActivity"
            android:icon="@drawable/ic_launcher"
            android:launchMode="standard"/>

    </application>

</manifest>
